<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EILIS - 主動回覆功能頁面</title>

    <!-- CSS -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link rel="stylesheet" href="../MemberAssets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../MemberAssets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../MemberAssets/css/form-elements.css">
    <link rel="stylesheet" href="../MemberAssets/css/style.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="MemberAssets/ico/favicon.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../MemberAssets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../MemberAssets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../MemberAssets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../MemberAssets/ico/apple-touch-icon-57-precomposed.png">

    <!-- FB SDK Initial -->

</head>

<body>

    <!-- Top content -->
    <div class="top-content">

        <div class="inner-bg">
            <div class="container">
                <div class="row">
                    <div id="Card4">

                        <form id="sendReply">
                            <br> 貼文留言
                            <select name="pageName" id="pageNameOption">
                            　<option value="Default">請選擇回覆留言</option>
                            　<option value="157536601493258_157540131492905">test</option>
                            </select>

                            <br> 回覆留言
                            <input type="text" name="ReplyMessage" id="ReplyMessage" value="" required></input><br>

                            <h3 class="text">確認資料無誤後，按下方"回覆留言"，Eilis會幫您發送對應留言喔！</h3>
                            <input type="submit" class="FormSend" name="Submit" value="回覆留言"><br>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <!-- Javascript -->
    <script src="../MemberAssets/js/jquery-1.11.1.min.js"></script>
    <script src="../MemberAssets/bootstrap/js/bootstrap.min.js"></script>
    <script src="../MemberAssets/js/jquery.backstretch.min.js"></script>
    <script src="../MemberAssets/js/scripts.js"></script>
    <script src="../../DemoJS/ReplyDemo.js"></script>
    <!--[if lt IE 10]>
            <script src="MemberAssets/js/placeholder.js"></script>
        <![endif]-->
</body>

</html>